@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Slabo+27px);
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Fonts */
/* line 3, ../sass/includes/_common.sass */
html {
  font-size: 62.5%;
}

/* line 6, ../sass/includes/_common.sass */
.serif {
  font-family: "Slabo 27px", Times, "Times New Roman", serif;
}

/* line 9, ../sass/includes/_common.sass */
.sans {
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

/* line 12, ../sass/includes/_common.sass */
body {
  font-size: 16px;
  font-family: "Slabo 27px", Times, "Times New Roman", serif;
  font-weight: 400;
  color: black;
  background-color: #f7f0e8;
  line-height: 1.25;
}

/* line 20, ../sass/includes/_common.sass */
strong {
  font-weight: 700;
}

/* line 23, ../sass/includes/_common.sass */
h1, h2, h3 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

/* line 27, ../sass/includes/_common.sass */
h1 {
  font-size: 24px;
}

/* line 30, ../sass/includes/_common.sass */
h2 {
  font-size: 16px;
  text-transform: uppercase;
  color: #f98d00;
  margin-bottom: 10px;
}

/* line 36, ../sass/includes/_common.sass */
h3 {
  font-size: 14px;
}

/* Animation */
/* line 40, ../sass/includes/_common.sass */
a, a:visited,
input[type="submit"],
button {
  transition: all 0.4s ease;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}

/* General */
/* line 46, ../sass/includes/_common.sass */
*,
*:after,
*:before {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

/* line 52, ../sass/includes/_common.sass */
*:focus {
  outline: 0;
}

/* line 55, ../sass/includes/_common.sass */
a {
  color: #f98d00;
  text-decoration: none;
}

/* line 59, ../sass/includes/_common.sass */
a:hover,
a:focus {
  text-decoration: underline;
  color: black;
}

/* line 64, ../sass/includes/_common.sass */
p {
  margin: 10px 0;
}
/* line 66, ../sass/includes/_common.sass */
p:first-of-type {
  margin-top: 0;
}

/* line 69, ../sass/includes/_common.sass */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  -moz-appearance: textfield;
  -moz-user-select: text;
  cursor: text;
  text-align: start;
  text-rendering: optimizelegibility;
}

/* line 79, ../sass/includes/_common.sass */
ul.nolist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 84, ../sass/includes/_common.sass */
img.alignleft {
  float: left;
  margin: 0 10px 10px 0;
}

/* line 88, ../sass/includes/_common.sass */
img.alignright {
  float: right;
  margin: 0 0 10px 10px;
}

/* line 92, ../sass/includes/_common.sass */
.clear {
  clear: both;
}

/* line 96, ../sass/includes/_common.sass */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 107, ../sass/includes/_common.sass */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 1, ../sass/layout/_header.sass */
header#global-header {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 5px 0;
  width: 100%;
  height: 120px;
  background-color: black;
  opacity: 0.8;
}

/* line 9, ../sass/layout/_header.sass */
.logo {
  height: 110px;
}
/* line 11, ../sass/layout/_header.sass */
.logo img {
  width: auto;
  height: 100%;
}

/* line 15, ../sass/layout/_header.sass */
.social, .menu {
  text-align: right;
}
/* line 17, ../sass/layout/_header.sass */
.social li, .menu li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 19, ../sass/layout/_header.sass */
.social li:last-child, .menu li:last-child {
  margin-right: 0;
}

/* line 22, ../sass/layout/_header.sass */
ul.social {
  margin-top: 55px;
}
/* line 24, ../sass/layout/_header.sass */
ul.social li {
  width: 23px;
  height: 20px;
  margin-right: 5px;
}
/* line 28, ../sass/layout/_header.sass */
ul.social li a {
  opacity: 0.6;
}
/* line 30, ../sass/layout/_header.sass */
ul.social li a:hover, ul.social li a:focus {
  opacity: 1;
}

/* line 33, ../sass/layout/_header.sass */
nav.menu {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin-top: 10px;
}
/* line 37, ../sass/layout/_header.sass */
nav.menu li {
  margin-right: 15px;
}
/* line 39, ../sass/layout/_header.sass */
nav.menu a {
  color: #f98d00;
  text-decoration: none;
}
/* line 42, ../sass/layout/_header.sass */
nav.menu a:hover, nav.menu a:focus {
  color: white;
}

/* line 1, ../sass/layout/_footer.sass */
footer#global-footer {
  padding-top: 15px;
}

/* line 1, ../sass/layout/_main.sass */
section {
  padding: 15px 0;
  background-color: #f7f0e8;
}

/* line 5, ../sass/layout/_main.sass */
.parallax-window {
  min-height: 250px;
  background: transparent;
}

/* line 1, ../sass/layout/_carousel.sass */
.carousel {
  width: 100%;
  min-height: 250px;
  position: relative;
  margin-bottom: 25px;
}
/* line 7, ../sass/layout/_carousel.sass */
.carousel .strip {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  height: 100%;
  min-height: 250px;
  width: 100%;
}
/* line 15, ../sass/layout/_carousel.sass */
.carousel .slide {
  white-space: normal;
  position: absolute;
  left: 100%;
  visibility: hidden;
  margin: 0 1.5%;
  width: 30%;
  transition: left 0.4s ease-in-out, visibility 0.4s ease-in-out;
}
/* line 24, ../sass/layout/_carousel.sass */
.carousel .slide.active {
  left: 33%;
  visibility: visible;
}
/* line 28, ../sass/layout/_carousel.sass */
.carousel .slide.slideLeft {
  left: 0;
  visibility: visible;
}
/* line 32, ../sass/layout/_carousel.sass */
.carousel .slide.slideRight {
  left: 66%;
  visibility: visible;
}
/* line 36, ../sass/layout/_carousel.sass */
.carousel .slide img {
  width: 100%;
  height: auto;
  position: relative;
}
/* line 41, ../sass/layout/_carousel.sass */
.carousel .slide span {
  position: absolute;
  bottom: 5px;
  left: 0;
  background: black;
  padding: 5px;
  color: white;
  width: 100%;
  opacity: 0.8;
  text-align: center;
  font-style: italic;
}
/* line 53, ../sass/layout/_carousel.sass */
.carousel .controls {
  text-align: center;
}
/* line 56, ../sass/layout/_carousel.sass */
.carousel .controls button {
  outline: none;
  border: none;
  background: none;
  opacity: 0.5;
  width: 14px;
  height: 24px;
  padding: 0;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
/* line 69, ../sass/layout/_carousel.sass */
.carousel .controls button[data-button-type="previous"] {
  left: 24px;
}
/* line 72, ../sass/layout/_carousel.sass */
.carousel .controls button[data-button-type="next"] {
  right: 24px;
}
/* line 75, ../sass/layout/_carousel.sass */
.carousel .controls button[data-button-type="dot"] {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
  width: 8px;
  height: 7px;
  border-radius: 10px;
  background: white;
  margin: 0 4px;
}
/* line 84, ../sass/layout/_carousel.sass */
.carousel .controls button.active, .carousel .controls button:hover, .carousel .controls button:focus {
  opacity: 1;
}
