h2 Follow me on the Internets
.github-card(data-github="sloyless")
script(src="//cdn.jsdelivr.net/github-cards/latest/widget.js")
ul.nolist
  li
    a(href="http://facebook.com/seanloyless") Facebook
  li
    a(href="https://www.linkedin.com/in/seanloyless") LinkedIn
  li
    a(href="https://github.com/sloyless") GitHub