h2 Projects
#project-carousel.carousel
  .strip
  .controls
    button(data-button-type="previous" type="button")
    button(data-button-type="next" type="button")
p I have worked on many projects both personal and professional since 2001. I love to push the envelope and my development knowledge with every project that I work on. Above you can click on any of the slides and see details on many of the jobs I have worked on.
p The next project could be YOURS!