extends ./includes/_layout.jade

block title
  title Home | Sean Loyless Designs

block content
  .parallax-window(data-parallax="scroll" data-image-src="/images/bg01.jpg" data-positionY="190" naturalWidth="1950" naturalHeight="1500")
  section#content.container
    .row
      .col-md-8
        include _about.jade

      .col-md-4
        include _follow.jade

  .parallax-window(data-parallax="scroll" data-image-src="/images/bg02.jpg" data-positionY="190" naturalWidth="1950" naturalHeight="1500")
  section.container
    .row
      .col-md-12(ng-controller="ProjectController as projectData")
        include _projects.jade
          