footer.container(id="global-footer")
  .row
    .col-md-12
      p(style="text-align: center") All content &copy; 2012 - #{new Date().getFullYear()} Sean Loyless, unless specified. Design and Development by Sean Loyless.
      p(style="text-align: center") Background image of Austin by Andy (
        a(href="https://www.flickr.com/photos/atmtx/4829056643/" target="_blank") source
        | )

block scripts
  //- Angular Core
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js")
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-sanitize.js")
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.js")
  //- jQuery
  script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
  //- Local Vendor scripts
  script(src="/scripts/vendor/parallax.min.js")
  //- Carousel
  script(src="/scripts/carousel/carousel.js")
  //- Angular app
  script(src="/scripts/portfolio.js")
  //- Angular components
  script(src="/components/project-carousel/project-carousel.js")
  script(src="/components/project-description/project-description.js")
  script(src="/components/contact/contact.js")