a(id="about" name="about")
h2 Hi! I'm Sean, and I love to code.
img.alignleft.hidden-xs(src="/images/common/avatar.jpg")
p I am a Web Developer (Presentation Layer Engineer) in Austin, Texas, specializing in HTML, PHP, Javascript, 
  a(href="https://jquery.com/" target="_blank") jQuery
  |, 
  a(href="http://facebook.github.io/react/" target="_blank") React.js
  |, 
  a(href="https://angularjs.org/" target="_blank") Angular
  |, 
  a(href="https://www.meteor.com/" target="_blank") Meteor
  |, MySQL, CSS, Sass, Less, 
  a(href="http://jade-lang.com/" target="_blank") Jade
  |, 
  a(href="http://coffeescript.org/" target="_blank") Coffeescript
  |, 
  a(href="http://wordpress.org" target="_blank") Wordpress
  |, Facebook Apps, Social Media Integration, and much more. 

p I have been working in the design and development field since 2001.  I graduated from the Art Institute of Houston under the Multimedia program, which encompassed web design and development, graphic design, video and sound editing, and more.

p.clear 
  strong SERVICES INCLUDE: 
  |Web development, Video editing, search engine optimization, social media, technical writing, graphic design, logo design, print design, web design, template design, spreadsheet design