# dependencies
/node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# build output
/dist

# logs
npm-debug.log*
yarn-error.log*

# IDE
/.idea
.vscode/*
!.vscode/extensions.json
.history/*

# misc
.DS_Store
Thumbs.db
*.tsbuildinfo
