extends ./includes/_layout.jade

block title
  title Home | Sean Loyless Designs

block content
  .parallax-window(data-parallax="scroll" data-image-src="/images/bg01.jpg" data-positionY="190" naturalWidth="1950" naturalHeight="1500")
  section#content.container
    .row
      .col-md-8
        a(id="about" name="about")
        h2 Hi! I'm Sean, and I love to code.
        img(src="/images/common/avatar.jpg" class="alignleft")
        p I am a Web Developer (Presentation Layer Engineer) in Austin, Texas, specializing in HTML, PHP, Javascript, 
          a(href="https://jquery.com/" target="_blank") jQuery
          |, 
          a(href="http://facebook.github.io/react/" target="_blank") React.js
          |, 
          a(href="https://angularjs.org/" target="_blank") Angular
          |, 
          a(href="https://www.meteor.com/" target="_blank") Meteor
          |, MySQL, CSS, Sass, Less, 
          a(href="http://jade-lang.com/" target="_blank") Jade
          |, 
          a(href="http://coffeescript.org/" target="_blank") Coffeescript
          |, 
          a(href="http://wordpress.org" target="_blank") Wordpress
          |, Facebook Apps, Social Media Integration, and much more. 

        p I have been working in the design and development field since 2001.  I graduated from the Art Institute of Houston under the Multimedia program, which encompassed web design and development, graphic design, video and sound editing, and more.

        p.clear 
          strong SERVICES INCLUDE: 
          |Web development, Video editing, search engine optimization, social media, technical writing, graphic design, logo design, print design, web design, template design, spreadsheet design

      .col-md-4
        h2 Follow me on the Internets
        .github-card(data-github="sloyless")
        script(src="//cdn.jsdelivr.net/github-cards/latest/widget.js")
        ul.nolist
          li
            a(href="http://facebook.com/seanloyless") Facebook
          li
            a(href="https://www.linkedin.com/in/seanloyless") LinkedIn
          li
            a(href="https://github.com/sloyless") GitHub

  .parallax-window(data-parallax="scroll" data-image-src="/images/bg02.jpg" data-positionY="190" naturalWidth="1950" naturalHeight="1500")
  section.container
    .row
      .col-md-12
        h2 Projects
        #project-carousel.carousel
          .strip
          .controls
            button(data-button-type="previous" type="button")
            button(data-button-type="next" type="button")
        p I have worked on many projects both personal and professional since 2001. I love to push the envelope and my development knowledge with every project that I work on. Above you can click on any of the slides and see details on many of the jobs I have worked on.
        p The next project could be YOURS!
          