extends ./views/includes/_layout.jade

block title
  title Home | Sean Loyless Designs

block content
  .parallax-window(data-parallax="scroll" data-image-src="https://s3-us-west-2.amazonaws.com/seanloyless-portfolio/images/bg/bg01.jpg" data-positionY="190" naturalWidth="1950" naturalHeight="1500")
  section#content.container
    .row
      .col-md-8
        include ./views/_about.jade

      .col-md-4
        include ./views/_follow.jade

  .parallax-window(data-parallax="scroll" data-image-src="https://s3-us-west-2.amazonaws.com/seanloyless-portfolio/images/bg/bg02.jpg" data-positionY="190" naturalWidth="1950" naturalHeight="1500")
  section.container
    .row
      .col-md-12
        include ./views/_projects.jade
  section.container
    .row
      .col-md-12
        p Contact form here!