extends ./includes/_layout.jade

block title
  title Home | Sean Loyless Designs

block content
  header.row
    div(class="large-12 columns")
      h1 Welcome to Sean Loyless Designs
  div(id="container")
    p If you can read this, you done fucked up bra.
block foot