extends ./views/includes/_layout.jade

block title
  title Home | Sean Loyless Designs

block content
  .parallax-window(data-parallax="scroll" data-image-src="https://s3-us-west-2.amazonaws.com/seanloyless-portfolio/images/bg/bg01.jpg" data-positionY="190" naturalWidth="1950" naturalHeight="1500")
  
  a.visuallyhidden(name="about")
  section#about
    .container
      .row
        .col-md-12
          include ./views/_about.jade
  
  a.visuallyhidden(name="skills")
  section#skills
    .container
      .row
        .col-md-12
          include ./components/skills/_skills.jade

  .parallax-window(data-parallax="scroll" data-image-src="https://s3-us-west-2.amazonaws.com/seanloyless-portfolio/images/bg/bg02.jpg" data-positionY="190" naturalWidth="1950" naturalHeight="1500")

  a.visuallyhidden(name="projects")
  section#projects
    .container
      .row
        .col-md-12
          h2 Projects
          p I have worked on many projects both personal and professional since 2001. I love to push the envelope and my development knowledge with every project that I work on. Above you can click on any of the slides and see details on many of the jobs I have worked on.
          p The next project could be YOURS!
          #project-carousel(ng-controller="ProjectController as projectData").row
            //- Angular Module: project-carousel
            project-carousel
            //- Angular Module: project-description
            project-description

  a.visuallyhidden(name="contact")
  section#contact
    .container
      .row
        .col-md-12
          include ./components/contact/contact.jade
  
  section#follow
    .container
      .row
        .col-md-12#follow
          include ./components/follow/_follow.jade