@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Lora:400,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* Fonts */
html {
  font-size: 62.5%; }

.serif {
  font-family: "Lora", Times, "Times New Roman", serif; }

.sans {
  font-family: "Lato", Helvetica, Arial, sans-serif; }

body {
  font-size: 16px;
  font-family: "Lora", Times, "Times New Roman", serif;
  font-weight: 400;
  color: black;
  background-color: #f7f0e8;
  line-height: 1.25; }

strong {
  font-weight: 700; }

h1, h2, h3 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 400; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 16px;
  text-transform: uppercase;
  color: #f98d00;
  margin-bottom: 10px; }

h3 {
  font-size: 14px; }

/* Animation */
a, a:visited,
input[type="submit"],
button {
  transition: all 0.4s ease;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1); }

/* General */
*,
*:after,
*:before {
  box-sizing: border-box;
  text-rendering: optimizeLegibility; }

*:focus {
  outline: 0; }

a {
  color: #f98d00;
  text-decoration: none; }

a:hover,
a:focus {
  text-decoration: underline;
  color: black; }

p {
  margin: 10px 0; }
  p:first-of-type {
    margin-top: 0; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  -moz-appearance: textfield;
  -moz-user-select: text;
  cursor: text;
  text-align: start;
  text-rendering: optimizelegibility; }

ul.nolist {
  list-style-type: none;
  margin: 0;
  padding: 0; }

img.alignleft {
  float: none;
  margin: 0 auto 10px; }
  @media (min-width: 480px) {
    img.alignleft {
      float: left;
      margin: 0 10px 10px 0; } }

img.alignright {
  float: none;
  margin: 0 auto 10px; }
  @media (min-width: 480px) {
    img.alignright {
      float: right;
      margin: 0 0 10px 10px; } }

.clear {
  clear: both; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

header#global-header {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 5px 0;
  width: 100%;
  height: 120px;
  background-color: black;
  opacity: 0.8; }

.logo {
  height: 110px; }
  .logo img {
    width: auto;
    height: 100%; }

.social, .menu {
  text-align: right; }
  .social li, .menu li {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline; }
    .social li:last-child, .menu li:last-child {
      margin-right: 0; }

ul.social {
  margin-top: 55px; }
  ul.social li {
    width: 23px;
    height: 20px;
    margin-right: 5px; }
    ul.social li a {
      opacity: 0.6; }
      ul.social li a:hover, ul.social li a:focus {
        opacity: 1; }

nav.menu {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin-top: 10px; }
  nav.menu li {
    margin-right: 15px; }
  nav.menu a {
    color: #f98d00;
    text-decoration: none; }
    nav.menu a:hover, nav.menu a:focus {
      color: white; }

footer#global-footer {
  padding-top: 15px; }

section {
  padding: 15px 0;
  background-color: #f7f0e8; }

.parallax-window {
  min-height: 250px;
  background: transparent; }

.carousel {
  min-height: 265px;
  position: relative;
  margin-bottom: 25px; }
  .carousel .strip {
    position: relative;
    white-space: nowrap;
    height: 100%;
    min-height: 265px;
    overflow: hidden;
    width: 60%;
    padding: 0 30%;
    margin: 0 auto; }
    @media only screen and (max-width: 991px) {
      .carousel .strip {
        width: 90%;
        padding: 0 5%; } }
    @media only screen and (max-width: 640px) {
      .carousel .strip {
        width: 60%;
        padding: 0 20%; } }
    @media only screen and (max-width: 320px) {
      .carousel .strip {
        width: 90%;
        padding: 0 5%; } }
  .carousel .slide {
    white-space: normal;
    position: absolute;
    left: 100%;
    visibility: hidden;
    margin: 0 2.5%;
    width: 45%;
    height: 265px;
    transition: left 0.4s ease-in-out, visibility 0.4s ease-in-out;
    border: 1px solid transparent; }
    @media only screen and (max-width: 640px) {
      .carousel .slide {
        width: 100%; } }
    @media only screen and (max-width: 480px) {
      .carousel .slide {
        height: 235px; } }
    .carousel .slide.active {
      left: 0;
      visibility: visible; }
    .carousel .slide.slideLeft {
      left: -50%;
      visibility: hidden; }
      @media only screen and (max-width: 640px) {
        .carousel .slide.slideLeft {
          left: -100%; } }
    .carousel .slide.slideRight {
      left: 50%;
      visibility: visible; }
      @media only screen and (max-width: 640px) {
        .carousel .slide.slideRight {
          left: 100%;
          visibility: hidden; } }
    .carousel .slide.selected {
      border: 1px solid red; }
    .carousel .slide img {
      width: 100%;
      height: auto;
      position: relative; }
    .carousel .slide span {
      position: absolute;
      bottom: 5px;
      left: 0;
      background: black;
      padding: 5px;
      color: white;
      width: 100%;
      opacity: 0.8;
      text-align: center;
      font-style: italic;
      font-family: "Lato", Helvetica, Arial, sans-serif;
      font-size: 12px; }
  .carousel .controls {
    text-align: center; }
    .carousel .controls button {
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      outline: none;
      border: none;
      background: white;
      border: 1px solid silver;
      border-radius: 30px;
      width: 40px;
      height: 40px;
      opacity: 0.3;
      position: absolute;
      top: 50%; }
      .carousel .controls button:before {
        border-style: solid;
        border-width: 10px 10px 0 0;
        content: "";
        display: inline-block;
        height: 20px;
        vertical-align: top;
        width: 20px;
        border-color: #f98d00; }
      .carousel .controls button[data-button-type="previous"] {
        left: 15%; }
        @media only screen and (max-width: 991px) {
          .carousel .controls button[data-button-type="previous"] {
            left: 5%; } }
        .carousel .controls button[data-button-type="previous"]:before {
          -moz-transform: rotate(-135deg);
          -ms-transform: rotate(-135deg);
          -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
          margin-left: 5px; }
      .carousel .controls button[data-button-type="next"] {
        right: 15%; }
        @media only screen and (max-width: 991px) {
          .carousel .controls button[data-button-type="next"] {
            right: 5%; } }
        .carousel .controls button[data-button-type="next"]:before {
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          margin-right: 5px; }
      .carousel .controls button:hover, .carousel .controls button:focus {
        opacity: 0.8; }

.project-description {
  background-color: #202020;
  transition: opacity ease-out 0.4s;
  margin-bottom: 20px;
  box-shadow: inset 0px 9px 31px -12px white; }
  .project-description .project-info {
    margin: 0 3% 0;
    transition: all ease-in-out 0.3s;
    opacity: 1;
    max-height: 1200px;
    overflow: hidden;
    display: block;
    padding: 2% 0 3%;
    color: silver; }
    .project-description .project-info[class*="-add"] {
      opacity: 0;
      max-height: 400px;
      padding: 0; }
  .project-description.ng-enter {
    opacity: 0; }
    .project-description.ng-enter.ng-enter-active {
      opacity: 1; }
  .project-description h3, .project-description .white {
    color: white; }
  .project-description h3 {
    font-size: 24px;
    margin-bottom: 3px; }
  .project-description hr {
    margin: 10px 0 20px; }
  .project-description a.client-link {
    position: relative;
    transition: none;
    font-size: 12px;
    margin: 20px 0;
    display: block; }
    .project-description a.client-link:before {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      content: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%0A%09%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%20512%20512%22%20enable-white%3D%22new%200%200%20512%20512%22%20xml%3Aspace%3D%22preserve%22%3E%0A%0A%3Cpath%20fill%3D%22%23f98d00%22%20stroke-width%3D%22%22%20stroke%3D%22%22%20id%3D%22link-icon%22%20d%3D%22M156.226%2C199.679c7.541-7.54%2C15.902-13.757%2C24.794-18.659c49.556-27.318%2C113.117-12.788%2C144.97%2C35.518%0A%0A%09l-38.547%2C38.547c-11.059-25.227-38.5-39.565-65.813-33.456c-10.282%2C2.3-20.054%2C7.427-28.039%2C15.413l-73.898%2C73.896%0A%0A%09c-22.433%2C22.433-22.432%2C58.936%2C0.002%2C81.369c22.433%2C22.433%2C58.935%2C22.433%2C81.368%2C0l22.78-22.779%0A%0A%09c20.71%2C8.217%2C42.938%2C11.508%2C64.862%2C9.863l-50.278%2C50.278c-43.105%2C43.105-112.991%2C43.105-156.096%2C0%0A%0A%09c-43.105-43.104-43.106-112.991-0.001-156.096L156.226%2C199.679z%20M273.574%2C82.33l-50.278%2C50.278%0A%0A%09c21.928-1.643%2C44.152%2C1.648%2C64.863%2C9.865l22.779-22.78c22.434-22.434%2C58.936-22.434%2C81.37%2C0c22.434%2C22.434%2C22.434%2C58.936%2C0%2C81.37%0A%0A%09l-73.897%2C73.895c-22.501%2C22.501-59.061%2C22.311-81.368%2C0c-5.202-5.201-9.694-11.678-12.484-18.04l-38.546%2C38.546%0A%0A%09c4.049%2C6.142%2C8.261%2C11.453%2C13.666%2C16.858c13.949%2C13.95%2C31.698%2C24.339%2C52.117%2C29.251c26.466%2C6.37%2C54.823%2C2.839%2C79.185-10.592%0A%0A%09c8.892-4.903%2C17.254-11.119%2C24.794-18.659l73.896-73.895c43.105-43.105%2C43.105-112.991%2C0.001-156.097%0A%0A%09C386.566%2C39.225%2C316.68%2C39.225%2C273.574%2C82.33z%22%2F%3E%0A%0A%3C%2Fsvg%3E");
      width: 15px;
      height: 15px;
      margin-right: 5px;
      vertical-align: -3px; }
    .project-description a.client-link:hover, .project-description a.client-link:focus {
      color: white; }
      .project-description a.client-link:hover:before, .project-description a.client-link:focus:before {
        content: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%0A%09%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%20512%20512%22%20enable-white%3D%22new%200%200%20512%20512%22%20xml%3Aspace%3D%22preserve%22%3E%0A%0A%3Cpath%20fill%3D%22%23ffffff%22%20stroke-width%3D%22%22%20stroke%3D%22%22%20id%3D%22link-icon%22%20d%3D%22M156.226%2C199.679c7.541-7.54%2C15.902-13.757%2C24.794-18.659c49.556-27.318%2C113.117-12.788%2C144.97%2C35.518%0A%0A%09l-38.547%2C38.547c-11.059-25.227-38.5-39.565-65.813-33.456c-10.282%2C2.3-20.054%2C7.427-28.039%2C15.413l-73.898%2C73.896%0A%0A%09c-22.433%2C22.433-22.432%2C58.936%2C0.002%2C81.369c22.433%2C22.433%2C58.935%2C22.433%2C81.368%2C0l22.78-22.779%0A%0A%09c20.71%2C8.217%2C42.938%2C11.508%2C64.862%2C9.863l-50.278%2C50.278c-43.105%2C43.105-112.991%2C43.105-156.096%2C0%0A%0A%09c-43.105-43.104-43.106-112.991-0.001-156.096L156.226%2C199.679z%20M273.574%2C82.33l-50.278%2C50.278%0A%0A%09c21.928-1.643%2C44.152%2C1.648%2C64.863%2C9.865l22.779-22.78c22.434-22.434%2C58.936-22.434%2C81.37%2C0c22.434%2C22.434%2C22.434%2C58.936%2C0%2C81.37%0A%0A%09l-73.897%2C73.895c-22.501%2C22.501-59.061%2C22.311-81.368%2C0c-5.202-5.201-9.694-11.678-12.484-18.04l-38.546%2C38.546%0A%0A%09c4.049%2C6.142%2C8.261%2C11.453%2C13.666%2C16.858c13.949%2C13.95%2C31.698%2C24.339%2C52.117%2C29.251c26.466%2C6.37%2C54.823%2C2.839%2C79.185-10.592%0A%0A%09c8.892-4.903%2C17.254-11.119%2C24.794-18.659l73.896-73.895c43.105-43.105%2C43.105-112.991%2C0.001-156.097%0A%0A%09C386.566%2C39.225%2C316.68%2C39.225%2C273.574%2C82.33z%22%2F%3E%0A%0A%3C%2Fsvg%3E"); }
  .project-description div.sans {
    padding-bottom: 10px;
    display: block;
    font-size: 12px; }
  .project-description img {
    max-width: 100%; }
