header#global-header
  width: 100%
  background-color: $header-color
  position: fixed
  top: 0
  left: 0
  z-index: 999
  transition: height 0.3s, opacity 0.3s
  opacity: 1
  overflow: hidden

  @media (min-width: $screen-md)
    height: 123px

  &.compact
    background-color: rgba(37,37,37,0.9)

    @media (min-width: $screen-md)
      height: 60px
      
      nav.menu
        margin-top: 20px

    .logo
      height: 53px
      &:before
        width: 45px
        height: 45px
        margin: 3px 2px 0 0

      img
        width: auto
        height: 100%
        @media (min-width: $screen-sm)
          padding-left: 45px

    .social
      margin-top: 0
      
      li
        display: none

.logo
  position: relative
  display: inline-block
  height: 110px
  margin-top: 5px
  transition: all 0.3s

  &:before
    display: none
    @media (min-width: $screen-sm)
      display: inline-block
    position: absolute
    transition: all 0.3s
    left: 15px
    content: ''
    width: 90px
    height: 90px
    border-radius: 50px
    background: url('../content/images/common/avatar.jpg') no-repeat
    background-size: 100% 100%
    margin: 10px 5px 0 0

  img
    transition: all 0.3s
    width: auto
    height: 100%
    max-width: 100%
    max-height: 100%
    @media (min-width: $screen-sm)
      padding-left: 90px

.social, .menu
  transition: all 0.3s
  text-align: right
  li
    display: inline-block
    &:last-child
      margin-right: 0

ul.social
  margin-top: 55px
  li
    font-size: 24px
    a
      color: white
      &:hover, &:focus
        color: $link-color

nav.menu
  font-family: $font-family-sans-serif
  text-transform: uppercase
  position: relative
  text-align: left
  padding-top: 5px
  padding-bottom: 5px

  @media (min-width: $screen-md)
    padding-top: 0
    padding-bottom: 0
    margin-top: 5px
    text-align: right
  
  li
    margin-right: 15px
    font-size: 13px
  
    @media (min-width: $screen-lg)
      font-size: 16px
  a
    color: $brand-orange
    text-decoration: none
    &:hover, &:focus
      color: white
