section
  padding: 40px 0

.parallax-window
  min-height: 250px
  background: transparent

// Max Width settings
#about > .row, #skills > *, #projects > p 
  max-width: 1100px
  margin-left: auto
  margin-right: auto

// Section colors
#projects
  padding-bottom: 0
  > p 
    padding-left: 15px
    padding-right: 15px

#skills
  background-color: rgba(0,0,0,0.7)
  color: white

#contact
  background-color: black

#follow
  background-color: rgba(0,0,0,0.7)
