.project-description
  background-color: #202020
  transition: opacity ease-out 0.4s
  margin-bottom: 20px
  box-shadow: inset 0px 9px 31px -12px rgba(255,255,255,255.75)
  
  .project-info
    margin: 0 3% 0
    transition: all ease-in-out 0.3s
    opacity: 1
    max-height: 1200px
    overflow: hidden
    display: block
    padding: 2% 0 3%
    color: silver
    &[class*="-add"]
      opacity: 0
      max-height: 400px
      padding: 0

  &.ng-enter
    opacity: 0
    &.ng-enter-active
      opacity: 1

  h3, .white
    color: white

  h3
    font-size: 24px
    margin-bottom: 3px
  
  hr
    margin: 10px 0 20px

  a.client-link
    position: relative
    transition: none
    font-size: 12px
    margin-top: 20px
    display: block
    &:before
      +inline-block
      +style-svg($icon-link, $brand-orange)
      width: 15px
      height: 15px
      margin-right: 5px
      vertical-align: -3px
    &:hover, &:focus
      color: white
      &:before
        +style-svg($icon-link, #ffffff)

  div.sans
    padding-bottom: 10px
    display: block
    font-size: 12px
  
  img
    max-width: 100%