#project-carousel(ng-controller="ProjectController as projectData").row
  .carousel(class="col-lg-12")
    .strip
      a.slide(href="" ng-repeat="project in projectData.projects" id="project-{{project.projectID}}" ng-click="projectData.showProject($index)" ng-class="{'selected':projectData.isActive($index)}")
        img(ng-src="{{project.thumb}}" alt="{{project.title}}")
        span
          {{project.title}}

    .controls
      button(data-button-type="previous" type="button")
      button(data-button-type="next" type="button")

  .project-description(ng-if="projectData.selected" class="col-lg-12")
    .project-info.row(class="project-{{projectData.selected.projectID}}")
      div(class="col-md-4 col-sm-12")
        h3 {{projectData.selected.title}}
        div.sans 
          span.white Client: 
          | {{projectData.selected.client}} &nbsp;|&nbsp; 
          span.white Date: 
          | {{projectData.selected.date}}
        div(ng-bind-html="projectData.selected.description")
      img(ng-src="{{projectData.selected.image}}" alt="" class="col-md-8 col-sm-12")