section#about.col-xs-12
  .row
    h2 Hi! I'm Sean, and I love to code.
    .col-md-8
      p I am a Web Developer (Presentation Layer Engineer) in Austin, Texas, specializing in front-end web development.

      p I have been working in the design and development field since 2001.  I graduated from the Art Institute of Houston under the Multimedia program, which encompassed web design and development, graphic design, video and sound editing, and more.

      p I love technology and the challenges my career gives me. Each project is unique and allows me to push my skillset further.
    .col-md-4
      p Clients I have done work for:
      ul
        li GM
        li AT&amp;T
        li Blackberry
        li Shiner Bock
        li Citi
        li SeaWorld
        li Smashburger
        li Trumer Pils
        li City of San Antonio
      a(href="#projects") 
        small See the Projects section for more
