footer.container(id="global-footer")
  .row
    .col-md-12
      p(style="text-align: center") All content &copy; 2012 - #{new Date().getFullYear()} Sean Loyless, unless specified. Design and Development by Sean Loyless.