h2 My Skills
p I specialize in HTML, PHP, Javascript, 
  a(href="//jquery.com/" target="_blank") jQuery
  |, 
  a(href="//facebook.github.io/react/" target="_blank") React.js
  |, 
  a(href="//angularjs.org/" target="_blank") Angular
  |, 
  a(href="//www.meteor.com/" target="_blank") Meteor
  |, MySQL, CSS, Sass, Less, 
  a(href="//jade-lang.com/" target="_blank") Jade
  |, 
  a(href="//coffeescript.org/" target="_blank") Coffeescript
  |, 
  a(href="//wordpress.org" target="_blank") Wordpress
  |, Facebook Apps, Social Media Integration, and much more.

ul.nolist.hidden-xs
  li
    a.icon.icon-sass(href="//sass-lang.com/" target="_blank") Sass
  li
    a.icon.icon-angular(href="//angularjs.org/" target="_blank") Angular
  li
    a.icon.icon-react(href="//facebook.github.io/react/" target="_blank") React
  li
    a.icon.icon-jade(href="//jade-lang.com/" target="_blank") Jade
  li
    a.icon.icon-coffeescript(href="//coffeescript.org/" target="_blank") CoffeeScript
  li
    a.icon.icon-wordpress(href="//wordpress.org/" target="_blank") WordPress