
<h2>My Skills</h2>
<p>I specialize in HTML, PHP, Javascript, <a href="//jquery.com/" target="_blank">jQuery</a>, <a href="//facebook.github.io/react/" target="_blank">React.js</a>, <a href="//angularjs.org/" target="_blank">Angular</a>, <a href="//www.meteor.com/" target="_blank">Meteor</a>, MySQL, CSS, Sass, Less, <a href="//jade-lang.com/" target="_blank">Jade</a>, <a href="//coffeescript.org/" target="_blank">Coffeescript</a>, <a href="//wordpress.org" target="_blank">Wordpress</a>, Facebook Apps, Social Media Integration, and much more.</p>
<ul class="nolist hidden-xs">
  <li><a href="//sass-lang.com/" target="_blank" class="icon icon-sass">Sass</a></li>
  <li><a href="//angularjs.org/" target="_blank" class="icon icon-angular">Angular</a></li>
  <li><a href="//facebook.github.io/react/" target="_blank" class="icon icon-react">React</a></li>
  <li><a href="//jade-lang.com/" target="_blank" class="icon icon-jade">Jade</a></li>
  <li><a href="//coffeescript.org/" target="_blank" class="icon icon-coffeescript">CoffeeScript</a></li>
  <li><a href="//wordpress.org/" target="_blank" class="icon icon-wordpress">WordPress</a></li>
</ul>