h2 Hi! I'm Sean, and I love to code.
p I am a Web Developer (Presentation Layer Engineer) in Austin, Texas, specializing in front-end web development.

p I have been working in the design and development field since 2001.  I graduated from the Art Institute of Houston under the Multimedia program, which encompassed web design and development, graphic design, video and sound editing, and more.

p.clear 
  strong SERVICES INCLUDE: 
  |Web development, Video editing, search engine optimization, social media, technical writing, graphic design, logo design, print design, web design, template design, spreadsheet design