footer#global-footer.col-xs-12
  p.text-center All content &copy; Sean Loyless, unless specified. Design and Development by Sean Loyless.

block scripts
  //- Angular Core
  script(src="scripts/vendor/angular.min.js")
  script(src="scripts/vendor/angular-sanitize.min.js")
  script(src="scripts/vendor/angular-animate.min.js")
  //- Angular Bootstrap Scripts
  script(src="scripts/vendor/ui-bootstrap-1.2.5.min.js")
  script(src="scripts/vendor/ui-bootstrap-tpls-1.2.5.min.js")
  //- jQuery
  script(src="scripts/vendor/jquery-2.2.2.min.js")
  script(src="scripts/vendor/parallax.min.js")
  //- Angular app
  script(src="scripts/portfolio.js")
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-1028046-18', 'auto');
    ga('send', 'pageview');