footer#global-footer.col-xs-12
  p.text-center All content &copy; Sean Loyless, unless specified. Design and Development by Sean Loyless.
  p.text-center
    small "Downtown Austin Streaks By" by 
      a(href="//www.flickr.com/photos/atmtx/4829056643/" target="_blank") Andy
      | &nbsp;|&nbsp; "Code Orange" by 
      a(href="//www.flickr.com/photos/cats-eye-view/205561855/" target="_blank") Chris Lim

block scripts
  //- Angular Core
  script(src="scripts/vendor/angular.min.js")
  script(src="scripts/vendor/angular-sanitize.min.js")
  script(src="scripts/vendor/angular-animate.min.js")
  //- Angular Bootstrap Scripts
  script(src="scripts/vendor/ui-bootstrap-1.2.5.min.js")
  script(src="scripts/vendor/ui-bootstrap-tpls-1.2.5.min.js")
  //- jQuery
  script(src="scripts/vendor/jquery-2.2.2.min.js")
  script(src="scripts/vendor/parallax.min.js")
  //- Angular app
  script(src="scripts/portfolio.js")