header(id="global-header")
  .col-sm-6.col-xs-12.logo
    img(src="../content/images/common/logo.png" alt="Sean Loyless")
  .col-sm-6.col-xs-12
    ul.nolist.social.hidden-xs.hidden-sm
      li
        a(href="http://facebook.com/seanloyless/" title="Subscribe to updates on Sean Loyless on Facebook")
          i.fa.fa-fw.fa-facebook-square
      li
        a(href="http://twitter.com/SeanLoyless" title="Follow me on Twitter")
          i.fa.fa-fw.fa-twitter-square
      li
        a(href="http://www.linkedin.com/in/seanloyless" title="Connect with me on LinkedIn")
          i.fa.fa-fw.fa-linkedin-square
    nav.menu
      ul.nolist
        li
          a(href="#about") About
        li
          a(href="#projects") Projects
        li
          a(href="http://www.linkedin.com/in/seanloyless" target="_blank") Resume
        li
          a(href="#about") Blog
        li
          a(href="#contact") Contact
      div.mobilemenu.visible-xs
        button#menu-mobile
          .bar
          .bar
          .bar