head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name="language" content="en")
  block title 
    title Sean Loyless Designs
  meta(name='description' content="Sean Loyless is a web developer from Austin, Texas specializing in front end web development.")
  meta(name="robots" content="index,follow")
  meta(name="revised" content="Thursday, April 21th, 2016, 2:34 pm")
  meta(name="author" content="Sean Loyless, loyless.sean@gmail.com")
  meta(name="url" content="http://seanloyless.info/")
  meta(name="identifier-URL" content="http://seanloyless.info/")
  meta(name="rating" content="General")
  meta(name="revisit-after" content="7 days")
  link(rel='stylesheet' href="style.css" media="screen, projection")

  link(rel="icon" href="content/favicon.ico")
  link(rel="shortcut icon" href="content/favicon.ico")
  link(rel="apple-touch-icon" href="content/apple-touch-icon.png")
  
  // Meta tags
  link(rel="index" href="http://seanloyless.info/" title="Sean Loyless Designs")
  link(rel="canonical" href="http://seanloyless.info/")

  // Location tagging (Lat/Long)
  meta(name="ICBM" content="30.185744,-97.762242")
  meta(name="geo.position" content="30.185744,-97.762242")
  meta(name="geo.placename" content="Austin, TX, United States")
  meta(name="geo.region" content="us-tx")

  // Facebook Opengraph
  meta(property="og:type" content="website")
  meta(property="og:site_name" content="Sean Loyless Designs")
  meta(property="og:description" content="Sean Loyless is a web developer from Austin, Texas specializing in front end web development.")
  meta(property="og:locale" content="en_US")
  meta(property="og:image" content="http://seanloyless.info/content/images/common/avatar.jpg")
  
  // Twitter
  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:site" content="@SeanLoyless")
  meta(name="twitter:creator" content="@SeanLoyless")
  meta(name="twitter:title" content="Sean Loyless Designs")
  meta(name="twitter:description" content="Sean Loyless is a web developer from Austin, Texas specializing in front end web development.")
  meta(name="twitter:image" content="http://seanloyless.info/content/images/common/avatar.jpg")
  
  // Google+
  meta(itemprop="description" content="Sean Loyless is a web developer from Austin, Texas specializing in front end web development.")
  
  // iOS
  meta(name="apple-mobile-web-app-title" content="Sean Loyless Designs")
