section#follow.col-xs-12
  h2 Stay Connected With Me
  ul.nolist.sans.row
    li.col-xs-6.col-sm-3
      a.icon.icon-facebook(href="//facebook.com/seanloyless")
        span 
          strong Facebook
          br
          | Like me on Facebook to follow updates.
    li.col-xs-6.col-sm-3
      a.icon.icon-linkedin(href="//www.linkedin.com/in/seanloyless") 
        span 
          strong LinkedIn
          br
          | See my resume and skills on LinkedIn.
    li.col-xs-6.col-sm-3
      a.icon.icon-github(href="//github.com/sloyless") 
        span 
          strong GitHub
          br
          | See some code examples I have published on GitHub.
    li.col-xs-6.col-sm-3
      a.icon.icon-twitter(href="//twitter.com/seanloyless") 
        span 
          strong Twitter
          br
          | Follow me on Twitter for some randomness.