#follow
  padding-top: 30px
  padding-bottom: 10px

  i.fa
    display: block
    color: white
    font-size: 28px

  > ul
    width: 100%
    margin: 0 auto
    text-align: center

  li
    display: inline-block
    vertical-align: top
    margin-bottom: 15px

    @media (min-width: $screen-md)
      margin-bottom: 0

  .icon
    width: 100%
    @media (min-width: $screen-lg)
      width: 160px
    line-height: 1

    &:before
      font-family: FontAwesome
      margin-bottom: 5px
      width: 80px
      height: 80px
      color: rgba(0,0,0,0.7)
      background-color: white
      border-radius: 50%
      line-height: 82px
      font-size: 60px

    span
      +cssAnimate
      opacity: 1
      color: $brand-orange
      font-size: 12px

      @media (min-width: $screen-md)
        opacity: 0
        font-size: 14px
      
      strong
        color: white
        font-size: 18px
    
    &.icon-facebook:before
      content: '\f09a'

    &.icon-twitter:before
      content: '\f099'

    &.icon-linkedin:before
      content: '\f0e1'

    &.icon-github:before
      content: '\f09b'

    &:hover, &:focus
      text-decoration: none
      span
        opacity: 1