.project-description(ng-if="projectData.selected" class="col-lg-12")
  .project-info.row(class="project-{{projectData.selected.projectID}}")
    div(class="col-md-4 col-sm-12")
      h3 {{projectData.selected.title}}
      div.sans 
        span.white Client: 
        | {{projectData.selected.client}} &nbsp;|&nbsp; 
        span.white Date: 
        | {{projectData.selected.date}}
      hr
      div(ng-bind-html="projectData.selected.description" class="client-description")
      a.sans.client-link(ng-if="projectData.selected.url !== ''" ng-href="{{projectData.selected.url}}" target="_blank") Click here to visit site
    img(ng-src="{{projectData.selected.image}}" alt="" class="col-md-8 col-sm-12")