header(id="global-header")
  .container
    .row
      .col-md-6.logo
        img(src="../images/common/logo.png" alt="Sean Loyless")
      .col-md-6.social
        ul.nolist
          li
            a(href="" title="Subscribe to updates to this website via RSS")
              img(src="/images/common/head-rss.png", alt="Sean Loyless RSS icon")
          li
            a(href="http://facebook.com/seanloyless/" title="Subscribe to updates on Sean Loyless on Facebook")
              img(src="/images/common/head-fb.png", alt="Sean Loyless Facebook icon")
          li
            a(href="http://twitter.com/SeanLoyless" title="Follow me on Twitter")
              img(src="/images/common/head-twitter.png", alt="Sean Loyless Twitter icon")
          li
            a(href="http://www.linkedin.com/in/seanloyless" title="Connect with me on LinkedIn")
              img(src="/images/common/head-linkedin.png", alt="Sean Loyless LinkedIn icon")