head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  block title 
    title Sean Loyless Designs
  link(rel='stylesheet' href="/css/screen.css" media="screen, projection")
  link(rel='stylesheet' href="/css/print.css" media="screen, projection")
  block scripts
    script(src="/js/vendor/jquery-2.1.4.min.js")
    script(src="/js/vendor/react.js")
    script(src="/js/vendor/JSXTransformer.js")
    script(src="/js/portfolio.js")