
<h2>Stay Connected With Me</h2>
<ul class="nolist sans">
  <li><a href="http://facebook.com/seanloyless" class="icon icon-facebook"> <span> <strong>Facebook</strong><br/>Like me on Facebook to follow updates.</span></a></li>
  <li><a href="https://www.linkedin.com/in/seanloyless" class="icon icon-linkedin"> <span> <strong>LinkedIn</strong><br/>See my resume and skills on LinkedIn.</span></a></li>
  <li><a href="https://github.com/sloyless" class="icon icon-github"> <span> <strong>GitHub</strong><br/>See some code examples I have published on GitHub.</span></a></li>
  <li><a href="http://twitter.com/seanloyless" class="icon icon-twitter"> <span> <strong>Twitter</strong><br/>Follow me on Twitter for some randomness.</span></a></li>
</ul>