h2 Stay Connected With Me
ul.nolist.sans
  li
    a.icon.icon-facebook(href="http://facebook.com/seanloyless") 
      span 
        strong Facebook
        br
        | Like me on Facebook to follow updates.
  li
    a.icon.icon-linkedin(href="https://www.linkedin.com/in/seanloyless") 
      span 
        strong LinkedIn
        br
        | See my resume and skills on LinkedIn.
  li
    a.icon.icon-github(href="https://github.com/sloyless") 
      span 
        strong GitHub
        br
        | See some code examples I have published on GitHub.
  li
    a.icon.icon-twitter(href="http://twitter.com/seanloyless") 
      span 
        strong Twitter
        br
        | Follow me on Twitter for some randomness.