#project-carousel
  margin-top: 20px

  .carousel-caption
    padding-bottom: 0
    padding-top: 0
    bottom: 0
    background-image: linear-gradient(to left, transparent 0%, rgba(128,128,128,.5) 50%,transparent 100%)

  .carousel-control
    width: 10%

  .carousel-indicators
    display: none

  .glyphicon-chevron-left
    &:before
      font-family: FontAwesome
      content: "\f053"
      display: block

  .glyphicon-chevron-right
    &:before
      font-family: FontAwesome
      content: "\f054"
      display: block

  a
    color: white
    cursor: pointer