#carousel-projects
  uib-carousel.slide(active="active")
    uib-slide(ng-repeat="project in projectData.projects track by $index" id="project-{{project.projectID}}" ng-click="projectData.showProject($index)" active="slide.active" index="$index")
      img.center-block(ng-src="{{project.image}}" alt="{{project.title}}")
      .carousel-caption.hidden-xs
        h4 
          a {{project.title}}
  .ribbon
    span.sans Click any project for more details