section#contact.col-xs-12
  h2 Contact Me!
  .contact-form.sans(ng-controller="contactController" ng-hide="addformtoggle")
    script(src="https://www.google.com/recaptcha/api.js")
    .alert-success(ng-show="message") {{ message }}
    form.row(ng-submit="processForm()" name="contactForm" method="post" novalidate)
      .col-md-3
        .contact-field(ng-class="{ 'has-error' : errorFirstName }")
          label(for="firstname") First Name
            sup *
          input(name="firstname" type="text" ng-model="formData.firstname" required)
          span.help-block(ng-show="errorFirstName || contactForm.firstname.$touched") {{ errorFirstName }}
        .contact-field(ng-class="{ 'has-error' : errorLastName }")
          label(for="lastname") Last Name
            sup *
          input(name="lastname" type="text" ng-model="formData.lastname" required)
          span.help-block(ng-show="errorLastName || contactForm.lastname.$touched") {{ errorLastName }}
        .contact-field(ng-class="{ 'has-error' : errorEmail }")
          label(for="email") Email Address
            sup *
          input(name="email" type="email" ng-model="formData.email" required validate)
          span.help-block(ng-show="errorEmail || contactForm.email.$touched") {{ errorEmail }}
        .contact-field
          label(for="phone") Phone Number
          input(name="phone" type="tel" ng-model="formData.phone")
        .g-recaptcha(data-sitekey="6LdV4xsTAAAAAP667xppVOp2uILr7KP3Q8plklzf")

      .col-md-5
        .contact-field(ng-class="{ 'has-error' : errorMessageText }")
          label(for="messageText") Message
            sup *
          textarea(ng-model="formData.messageText" required name="messageText")
          span.help-block(ng-show="errorMessageText || contactForm.message.$touched") {{ errorMessageText }}
        .contact-field.text-right
          button.btn.btn-lg.btn-danger(type="reset" ng-click="reset()") Reset
          
      .col-md-4
        h3.hidden-xs Preview
        .contact-preview.hidden-xs
          p From: 
            a(ng-href="mailto:{{formData.email}}") {{formData.firstname}} {{formData.lastname}}
          p Phone: 
            a(ng-href="tel:{{phone}}") {{formData.phone}}
          p Message: 
            br
            | {{formData.messageText}}

        input(type="hidden" name="_subject" value="New submission!")
        input.visuallyhidden(type="text" name="_gotcha")
        button.btn.btn-lg.btn-default(type="submit" ng-disabled="contactForm.$invalid") Submit