section#contact.col-xs-12(ng-controller="contactController" ng-hide="addformtoggle")
  .alert-success(ng-show="message") 
    h2 {{ message }}
    p Thanks for contacting me! I'll get back to you as soon as possible.
  .contact-form.sans(ng-show="!message")
    h2 Contact Me!
    form.row(ng-submit="processForm()" name="contactForm" method="post" novalidate)
      .col-md-3
        .contact-field
          label(for="firstname") First Name
            sup *
          input(id="firstname" name="firstname" type="text" ng-model="formData.firstname" required)
          span.help-block.error(ng-show="contactForm.$submitted || contactForm.firstname.$touched")
            em(ng-show="contactForm.firstname.$error.required") First name is required.

        .contact-field
          label(for="lastname") Last Name
            sup *
          input(id="lastname" name="lastname" type="text" ng-model="formData.lastname" required)
          span.help-block.error(ng-show="contactForm.$submitted || contactForm.lastname.$touched") 
            em(ng-show="contactForm.lastname.$error.required") Last name is required.
        .contact-field
          label(for="email") Email Address
            sup *
          input(id="email" name="email" type="email" ng-model="formData.email" required validate)
          span.help-block.error(ng-show="contactForm.$submitted || contactForm.email.$touched") 
            em(ng-show="contactForm.email.$error.required") Email is required.
        .contact-field
          label(for="phone") Phone Number
          input(id="phone" name="phone" type="tel" ng-model="formData.phone")

      .col-md-5
        .contact-field
          label(for="messageText") Message
            sup *
          textarea(ng-model="formData.messageText" required name="messageText" id="messageText")
          span.help-block.error(ng-show="contactForm.$submitted || contactForm.messageText.$touched") 
            em(ng-show="contactForm.messageText.$error.required") {{ errorMessageText }}
          
      .col-md-4
        h3.hidden-xs Preview
        .contact-preview.hidden-xs
          p From: 
            a(ng-href="mailto:{{formData.email}}") {{formData.firstname}} {{formData.lastname}}
          p Phone: 
            a(ng-href="tel:{{phone}}") {{formData.phone}}
          p Message: 
            br
            | {{formData.messageText}}

        input.visuallyhidden(type="text" name="_gotcha")
        .contact-field 
          button.btn.btn-lg.btn-default(type="submit" ng-disabled="contactForm.$invalid") Submit
